@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect {
  background: rgba(8, 14, 27, 0.63);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}

.fav-btn:hover{-webkit-animation:pulsate-bck .9s ease-in-out infinite both;animation:pulsate-bck 0.8s ease-in-out infinite both}

@-webkit-keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.9);transform:scale(.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes pulsate-bck{0%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.9);transform:scale(.9)}100%{-webkit-transform:scale(1);transform:scale(1)}}